<div class = "shopping-cart">
    <div class = "shopping-cart-header">Shopping cart items</div>
    <div class = "cart-items-container">
        <div class = "cart-items-prop-container">
            <div class = "item-prop-header small-item">
                S.No.
            </div>
            <div class = "item-prop-header med-item">
                Name
            </div>
            <div class = "item-prop-header description-item">
                Description
            </div>
            <div class = "item-prop-header item-text-align">
                Quantity
            </div>
            <div class = "item-prop-header item-text-align">
                Price
            </div>
        </div>
        <div class = "cart-items-prop-container" 
            *ngFor="let item of shopingCartItems;index as i;">
            <div class = "item-prop small-item">
                {{i+1}}
            </div>
            <div class = "item-prop med-item">
                {{item.Name}}
            </div>
            <div class = "item-prop description-item">
                {{item.Description}}
            </div>
            <div class = "item-prop item-text-align">
                {{item.Quantity}}
            </div>
            <div class = "item-prop item-text-align">
                &#8377;{{item.Cost}}
            </div>
        </div>
    </div>
</div>
