.shopping-cart-receipt{
    display:block;
    width: 80%;
    margin:auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.shopping-cart-receipt-header{
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0px;
}
.cart-item-total-container
{
    display: flex;
    padding: 5px 8px;
    flex-direction: column;
}
.cart-subtotal-container
{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: flex-end;
    margin: 10px 0px;
}
.invoice-label{
    width: 20%;
    font-size: 18px;
    font-weight: bold;
    text-align: right; 
    border-bottom: 2px solid #111;
}
.invoice-label-value{
    width: 10%;
    font-size: 16px;
    text-align: right;    
    border-bottom: 2px solid #111;
}
.grand-label{
    border: 0px;
    font-size: 20px;
}
.grand-label-value{
    border: 0px;
    font-size: 18px;
}
.cart-items-container{
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    border: 1px solid #111;
}
.cart-items-prop-container{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    margin: 5px 5px;
}
.item-prop-header{
    flex:1;
    font-size: 20px;
    font-weight: bold;
    color:#111;
    border-bottom: 2px solid #111;
    padding: 2px;

}
.item-prop{
    flex:1;
    font-size: 16px;
    color:#555;
    padding: 2px;
}

.description-item{
    flex: 6;
}
.med-item{
    flex: 2;
}
.small-item{
    flex: 0.5;
}
.item-text-align{
    text-align: right;
}